<div id="twitter-bar" class="row oxygen transition">
	<div class="large-12 columns transition">

			<div class="s-padding">
				<h2 class="bold slimit">#meetmantra</h2>

				<div class="inline bigline slimit-top">
				<img src="assets/ui/twitter.png" alt="" class="left twitter-icon">
					Mantra signs 2 year deal with Unite4:Good, the kickstarter of non-profits
					<hr class="tertiary mlimit mlimit-top block"/>		
				</div>
				
				<div class="inline bigline slimit-top">
				<img src="assets/ui/twitter.png" alt="" class="left twitter-icon">
					Mantra signs 2 year deal with Unite4:Good, the kickstarter of non-profits
					<hr class="tertiary mlimit mlimit-top block"/>		
				</div>
				
				<div class="inline bigline slimit-top">
				<img src="assets/ui/twitter.png" alt="" class="left twitter-icon">
					Mantra signs 2 year deal with Unite4:Good, the kickstarter of non-profits
					<hr class="tertiary mlimit mlimit-top block"/>		
				</div>
				
				<div class="inline bigline slimit-top">
				<img src="assets/ui/twitter.png" alt="" class="left twitter-icon">
					Mantra signs 2 year deal with Unite4:Good, the kickstarter of non-profits
					<hr class="tertiary mlimit mlimit-top block"/>		
				</div>
				
				<div class="inline bigline slimit-top">
				<img src="assets/ui/twitter.png" alt="" class="left twitter-icon">
					Mantra signs 2 year deal with Unite4:Good, the kickstarter of non-profits
					<hr class="tertiary mlimit mlimit-top block"/>		
				</div>
				

			</div>	
	</div>

</div>