<div id="twitter-bar" class="row oxygen transition">
	<div class="large-12 columns transition">

			<div class="s-padding">
				<h2 class="bold slimit">#meetmantra<div class="h4 show-for-small tertiary slim inline" id="twitter-close">close</div></h2>

			      	<div class="inline bigline slimit-top">
			      	<img src="assets/ui/twitter.png" alt="" class="left twitter-icon">
			      		<a href="https://twitter.com/search?q=%23meetmantra&src=hash">#meetmantra</a> gives interesting talk on how they organized their go-to-market strategy. <a href="http://meetmantra.com/articles/5">/articles/5</a>
			      		<hr class="tertiary mlimit mlimit-top block"/>		
			      	</div>
			      	
			      	<div class="inline bigline slimit-top">
			      	<img src="assets/ui/twitter.png" alt="" class="left twitter-icon">
			      		New SaaS product launch at <a href="https://twitter.com/search?q=%23meetmantra&src=hash">#meetmantra</a> - can't wait to develop traction. <a href="http://meetmantra.com/work_agentrun">/work_agentrun</a>
			      		<hr class="tertiary mlimit mlimit-top block"/>		
			      	</div>
			      	
			      	<div class="inline bigline slimit-top">
			      	<img src="assets/ui/twitter.png" alt="" class="left twitter-icon">
			      		What is <a href="https://twitter.com/search?q=%23mantralabs&src=hash">#mantralabs</a>?  <a href="https://twitter.com/search?q=%23meetmantra&src=hash">#meetmantra</a> lab partners explain it here: <a href="http://meetmantra.com/labs-incubation">/labs-incubation</a> and <a href="http://meetmantra.com/labs-projects">/labs-projects</a>
			      		<hr class="tertiary mlimit mlimit-top block"/>		
			      	</div>
			      	
			      	<div class="inline bigline slimit-top">
			      	<img src="assets/ui/twitter.png" alt="" class="left twitter-icon">
			      		<a href="https://twitter.com/search?q=%23meetmantra&src=hash">#meetmantra</a> launches <a href="http://unite4.org" target="_blank">Unite4.org</a> - currently incubating the platform, sales and go-to-market initiatives. <a href="http://unite4.org" target="_blank">Unite4.org</a>
			      		<hr class="tertiary mlimit mlimit-top block"/>		
			      	</div>
			</div>	
	</div>

</div>