<header style="background-image: url(assets/bgs/home_bg.jpg)" class="bg-cover bg-bottom">
	<div class="row b-limit-top">	
		<div class="xl-margin-top xl-margin-bottom">
			<div class="slimit">
				<h1 class="inline-inline black-bg h0">#meetmantra</h1>
			</div>
			<div>
				<h2 class="inline spadding slimit-top black-bg">all yoursource code are belong to us</h2>
			</div>
			
			<div class="frame-cta m-limit-top inline">
			    <div class="inline"><a href="/tour" class="whitelinks">TOUR</a></div>
			    <div class="inline"><a href="/rfp" class="whitelinks">RFP</a></div>
			</div>
		</div>
	</div>
</header>



<section class="whitesmoke-bg">
	<div class="row">
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/lifehacker.png" alt="lifehacker"></div>
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/macworld.png" alt="Macworld"></div>
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/appstorm.png" alt="Appstorm"></div>
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/tnw.png" alt="TNW"></div>
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/macstories.png" alt="macstories"></div>
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/sa.png" alt="SA"></div>
	</div>
</section>

<section class=>
	<div class="row">
		<div class="large-12 columns serif text-center blimit-top mlimit">
			<h2 class="secondary">Entreprenours & rising companies team-up with mantra</h2>
		</div>
	</div>
	<div class="row oxygen">
		<div class="large-3 columns blimit ">
			<div class="spadding whitesmoke-bg home-portfolio-single">
			<div class="whitesmoke-bg">
				<img src="assets/homepage/w1.jpg" alt="" class="fullwidth">
				<div class="slimit-top">
					<div class="bold slimit">Lorem ipsum dolor sit.</div>
					<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat enim iste minima laborum reprehenderit commodi!</p>
				</div>
			</div>
			</div>
		</div>
		<div class="large-3 columns blimit ">
			<div class="spadding whitesmoke-bg home-portfolio-single">
			<div class="whitesmoke-bg">
				<img src="assets/homepage/w2.jpg" alt="" class="fullwidth">
				<div class="slimit-top">
					<div class="bold slimit">Lorem ipsum dolor sit.</div>
					<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nulla ea nostrum quod ullam minima.</p>
				</div>
			</div>
			</div>
		</div>
		<div class="large-3 columns blimit ">
			<div class="spadding whitesmoke-bg home-portfolio-single">
			<div class="whitesmoke-bg">
				<img src="assets/homepage/w3.jpg" alt="" class="fullwidth">
				<div class="slimit-top">
					<div class="bold slimit">Lorem ipsum dolor sit.</div>
					<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, necessitatibus, suscipit. Expedita dignissimos aut quisquam!</p>
				</div>
			</div>
			</div>
		</div>
		<div class="large-3 columns blimit ">
			<div class="spadding whitesmoke-bg home-portfolio-single">
			<div class="whitesmoke-bg">
				<img src="assets/homepage/w4.jpg" alt="" class="fullwidth">
				<div class="slimit-top">
					<div class="bold slimit">Lorem ipsum dolor sit.</div>
					<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, consequatur, suscipit facere ad quo doloribus.</p>
				</div>
			</div>
			</div>
		</div>		
	</div>
	<div class="row">
		<div class="large-12 columns serif blimit mlimit-top">
			<h2 class="secondary">Mantra Labs</h2>
		</div>
	</div>
	<div class="row oxygen">
		<div class="large-4 columns">
			<img src="assets/homepage/labs1.jpg" alt="" class="fullwidth">
			<div class="slimit-top">
				<div class="bold slimit">Lorem ipsum dolor sit.</div>
				<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nulla ea nostrum quod ullam minima. <a href="#" class="purple-text bold">Learn more</a></p>
			</div>
		</div>
		<div class="large-4 columns">
			<img src="assets/homepage/labs2.jpg" alt="" class="fullwidth">
			<div class="slimit-top">
				<div class="bold slimit">Lorem ipsum dolor sit.</div>
				<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nulla ea nostrum quod ullam minima. <a href="#" class="purple-text bold">Learn more</a></p>
			</div>
		</div>
		<div class="large-4 columns">
			<img src="assets/homepage/labs3.jpg" alt="" class="fullwidth">
			<div class="slimit-top">
				<div class="bold slimit">Lorem ipsum dolor sit.</div>
				<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nulla ea nostrum quod ullam minima. <a href="#" class="purple-text bold">Learn more</a></p>
			</div>
		</div>
	</div>
	<div class="row mlimit mlimit-top tertiary">
		<hr/>
	</div>	
	<div class="row">
		<div class="large-12 columns serif blimit mlimit-top">
			<h2 class="secondary">Mantra is an agency centered venture firm - here's how we roll</h2>
		</div>
	</div>

	<div class="row oxygen blimit">
		<div class="large-6 columns">
			<div class="video-large">
				<img src="http://placehold.it/1920x1080" alt="" class="fullwidth">
			</div>
		</div>
		<div class="large-6 columns">
			<div class="row slimit">
				<div class="large-3 columns">
					<img class="fullwidth" src="http://placehold.it/100x75" alt="">
				</div>
				<div class="large-9 columns">
					<div class="bold">Lorem ipsum dolor sit amet.</div>
					<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, eaque, laudantium deserunt expedita ducimus nam.
					<a href="#" class="purple-text bold">Learn more</a>
					</p>
				</div>
			</div>
			<div class="row slimit">
				<div class="large-3 columns">
					<img class="fullwidth" src="http://placehold.it/100x75" alt="">
				</div>
				<div class="large-9 columns">
					<div class="bold">Lorem ipsum dolor sit amet.</div>
					<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, eaque, laudantium deserunt expedita ducimus nam.
					<a href="#" class="purple-text bold">Learn more</a>
					</p>
				</div>
			</div>
			<div class="row slimit">
				<div class="large-3 columns">
					<img class="fullwidth" src="http://placehold.it/100x75" alt="">
				</div>
				<div class="large-9 columns">
					<div class="bold">Lorem ipsum dolor sit amet.</div>
					<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, eaque, laudantium deserunt expedita ducimus nam.
					<a href="#" class="purple-text bold">Learn more</a>
					</p>
				</div>
			</div>

		</div>
	</div>
</section>