<header style="background-image: url(assets/bgs/home_bg.jpg)" class="bg-cover bg-bottom pos-rel ovh">
	<div class="pinkoverlay"></div>
	<video id="headervideo" autoplay class="fullwidth pos-abs bottom" type="video/mp4">
	</video>

	<div class="row pos-rel z-top">	
		<div class="xxl-margin-top xxl-margin-bottom">
			
			<div class="slimit">
				<h1 class="inline-inline black-bg h0">#meetmantra</h1>
			</div>
			<div>
				<h2 class="inline xs-margin-top black-bg">
					<span class="cyan-text oxygen">
						Mantra is a full-lifecycle partner for companies on the rise
					</span>
				</h2>
			</div>			
			<div class="frame-cta m-limit-top inline">
			    <div class="inline"><a href="/tour" class="whitelinks">TOUR</a></div>
			    <div class="inline"><a href="/rfp" class="whitelinks">RFP</a></div>
			</div>
			
		</div>
	</div>
</header>



<section class="whitesmoke-bg">
	<div class="row">
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/lifehacker.png" alt="lifehacker"></div>
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/macworld.png" alt="Macworld"></div>
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/appstorm.png" alt="Appstorm"></div>
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/tnw.png" alt="TNW"></div>
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/macstories.png" alt="macstories"></div>
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/sa.png" alt="SA"></div>
	</div>
</section>

<section class=>
	<div class="row">
		<div class="large-12 columns serif text-left blimit-top mlimit">
			<h2 class="secondary">Entreprenours & rising companies team-up with Mantra</h2><br />
		</div>
	</div>
	<div class="row oxygen">
		<div class="large-3 columns blimit">
			<div class="spadding whitesmoke-bg home-portfolio-single">
			<div class="whitesmoke-bg">
				<a href="/work_sellsimple"><img src="assets/homepage/w1.jpg" alt="" class="fullwidth"></a>
				<div class="slimit-top">
					<div class="bold slimit">Sell Simple on a Roll</div>
					<p class="bigline">Mantra Labs and Sell Simple team up to reach 1000 transactions per day. How our teams are helping achieve this on all fronts. &nbsp; <a href="/work_sellsimple" class="purple-text">Learn more</a></p>
				</div>
			</div>
			</div>
		</div>
		<div class="large-3 columns blimit ">
			<div class="spadding whitesmoke-bg home-portfolio-single">
			<div class="whitesmoke-bg">
				<a href="/work_benchprep"><img src="assets/homepage/w2.jpg" alt="" class="fullwidth"></a>
				<div class="slimit-top">
					<div class="bold slimit">BenchPrep's Complete Lifecycle</div>
					<p class="bigline">Mantra's founding team helped BenchPrep from concept to traction. Here's what we did and how it worked. &nbsp; <a href="/work_benchprep" class="purple-text">Learn more</a></p>
				</div>
			</div>
			</div>
		</div>
		<div class="large-3 columns blimit ">
			<div class="spadding whitesmoke-bg home-portfolio-single">
			<div class="whitesmoke-bg">
				<a href="/work_agentrun"><img src="assets/homepage/w3.jpg" alt="" class="fullwidth"></a>
				<div class="slimit-top">
					<div class="bold slimit">SaaS Turnaround Time @Mantra.</div>
					<p class="bigline">AgentRun, from concept to traction in under 90 days. This is how we approached a complicated project in record time. &nbsp; <a href="/work_agentrun" class="purple-text">Learn more</a></p>
				</div>
			</div>
			</div>
		</div>
		<div class="large-3 columns blimit ">
			<div class="spadding whitesmoke-bg home-portfolio-single">
			<div class="whitesmoke-bg">
				<a href="/labs-incubation"><img src="assets/homepage/w4.jpg" alt="" class="fullwidth"></a>
				<div class="slimit-top">
					<div class="bold slimit">Mantra Labs in Session</div>
					<p class="bigline">Why Mantra Labs is better than an incubator, accellerator or a VC at your stage? Hear it from the hourses mouth. &nbsp; <a href="/labs-incubation" class="purple-text">Learn more</a></p>
				</div>
			</div>
			</div>
		</div>		
	</div>
	<div class="row">
		<div class="large-12 columns serif blimit mlimit-top">
			<h2 class="secondary">Mantra Labs</h2>
		</div>
	</div>
	<div class="row oxygen homefont90">
		<div class="large-4 columns blimit">
			<a href="/articles/1"><img src="assets/homepage/labs1.jpg" alt="" class="fullwidth"></a>
			<div class="slimit-top">
				<div class="bold slimit">Mantra Labs Bolsters 10 New Companies</div>
				<p class="bigline">Your idea, all our resources. Mantra is a rapidly growing 50+ person, UX centered product firm, with a completely integrated HCI, Design, Development and Go-to-Market Team. <br /> <a href="/articles/1" class="purple-text bold">Learn more</a></p>
			</div>
		</div>
		<div class="large-4 columns blimit">
			<a href="/articles/5"><img src="assets/homepage/labs2.jpg" alt="" class="fullwidth"></a>
			<div class="slimit-top">
				<div class="bold slimit">Mantra Labs Environment Offers Depth</div>
				<p class="bigline">Tune into this screencast to see the depth Mantra has to offer it's partners in market strategy. <br /><a href="/articles/5" class="purple-text bold">Learn more</a></p>
			</div>
		</div>
		<div class="large-4 columns blimit">
			<a href="/articles/6"><img src="assets/homepage/labs3.jpg" alt="" class="fullwidth"></a>
			<div class="slimit-top">
				<div class="bold slimit">Why 10 Designers are Better Than 1</div>
				<p class="bigline">At Mantra, design happens on many levels. We use a process called handoffs and tradeoffs for huge gains in overall product design.<br /><a href="/articles/6" class="purple-text bold">Learn more</a></p>
			</div>
		</div>
	</div>
	<div class="row mlimit mlimit-top tertiary">
		<hr/>
	</div>	
	<div class="row">
		<div class="large-12 columns serif blimit mlimit-top">
			<h2 class="secondary">Mantra is an agency centered venture firm - here's how we roll</h2>
		</div>
	</div>

	<div class="row oxygen blimit">
		<div class="large-6 columns">
			<div class="video-large pos-rel">
				<div class="vid-overlay play-video"></div>
				<img src="assets/videos/1.jpg" alt="" class="fullwidth video-image pos-abs">
				<div class="flex-video widescreen">
					<iframe id="iframe" width="1280" height="720" class="widescreen" src="http://www.youtube.com/embed/qVzoGzZoOQ0?rel=0&vq=hd720&color=white&autoplay=0&wmode=transparent&theme=light"
frameborder="0" allowscriptaccess="always"
allowfullscreen="true"></iframe>
			</div>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="row slimit">
				<div class="large-3 columns">
					<a href="/article/2"><img class="fullwidth" src="assets/videos/agentrun.jpg" alt=""></a>
				</div>
				<div class="large-9 columns">
					<div class="bold slimit">Mantra Labs Launches AgentRun</div>
					<p class="bigline">From concept to traction in 90 days, view our project.
					<a href="/article/2" class="purple-text bold">Learn more</a>
					</p>
				</div>
			</div>
			<br />
			<div class="row slimit">
				<div class="large-3 columns">
					<a href="/article/3"><img class="fullwidth" src="assets/videos/minds.jpg" alt=""></a>
				</div>
				<div class="large-9 columns">
					<div class="bold slimit">Concept Exploration in Fast Forward</div>
					<p class="bigline">Take a stroll through Mantra's founders mind for a few minutes. 
					<a href="/article/3" class="purple-text bold">Learn more</a>
					</p>
				</div>
			</div>
			<br />
			<div class="row slimit">
				<div class="large-3 columns">
					<a href="/article/4"><img class="fullwidth" src="assets/videos/research.jpg" alt=""></a>
				</div>
				<div class="large-9 columns">
					<div class="bold slimit">Research is Design</div>
					<p class="bigline">Find out why Mantra is so obsessed with research and how it affects our work. 
					<a href="/article/4" class="purple-text bold">Learn more</a>
					</p>
				</div>
			</div>

		</div>
	</div>
</section>







<script>
	$(function(){
		var videoSource = new Array();

		videoSource[0]='https://s3.amazonaws.com/mantralabs/videos/v1.mp4';
		videoSource[1]='https://s3.amazonaws.com/mantralabs/videos/v3.mp4';
		videoSource[2]='https://s3.amazonaws.com/mantralabs/videos/v2.mp4';		
		videoSource[3]='https://s3.amazonaws.com/mantralabs/videos/v4.mp4';
		videoSource[3]='https://s3.amazonaws.com/mantralabs/videos/v5.mp4';
		videoSource[3]='https://s3.amazonaws.com/mantralabs/videos/v6.mp4';
		videoSource[3]='https://s3.amazonaws.com/mantralabs/videos/v7.mp4';
		var videoCount = videoSource.length;	    

		
		document.getElementById('headervideo').addEventListener('ended',myHandler,false);
		var index = 1;
		$('#headervideo').attr('src',videoSource[index]);
		function myHandler() {
			index++;
			if (index > videoCount) {
				index = 0;
			}
			$('#headervideo').attr('src',videoSource[index]);
       	}



       	$('.play-video').each(function(){
       		var t = $(this);
       		var video = $('iframe', t.parent());
       		var src = video.eq(0).attr('src');
       		
       		src = src.replace('autoplay=0','autoplay=1');
       		video.hide();
       		t.click(function(){
       			t.hide();
       			video.show().attr('src',src);
       		})
       	})

	})
</script>