<div class="row b-limit-top">
    <div class="large-8 columns m-limit-top">
	<h1 class="blue-noise-bg inline-inline">We create innovative web and mobile experiences, <em>together.</em></h1>
	<br />
	<h2 class="blue-noise-bg-small s-padding oxygen">Entrepreneurs and rising companies team up with us to build, launch and get traction. <a href="tour" style="color:#eee;font-style:italic;">See how we do it.</a></h2>
	<div class="frame-cta m-limit-top inline">
	    <div class="inline"><a href="/tour" class="whitelinks">TOUR</a></div>
	    <div class="inline"><a href="/rfp" class="whitelinks">RFP</a></div>
	    
	</div>
    </div>
    <div class="large-8 columns left m-limit-top">
	<span class="black-transparent-bg oxygen black-quote">“Frank was an original Angel for us - he was a huge help in helping us launch.” -  <em>Neal Sales-Griffen CEO, StarterLeague.com</em></span>
    </div>
</div>

<section class="whitesmoke-bg">
	<div class="row mlimit">
		<div class="large-2 columns company-logo mlimit-top text-center"><img src="" alt="lifehacker"></div>
		<div class="large-2 columns company-logo mlimit-top text-center"><img src="" alt="Macworld"></div>
		<div class="large-2 columns company-logo mlimit-top text-center"><img src="" alt="Appstorm"></div>
		<div class="large-2 columns company-logo mlimit-top text-center"><img src="" alt="TNW"></div>
		<div class="large-2 columns company-logo mlimit-top text-center"><img src="" alt="macstories"></div>
		<div class="large-2 columns company-logo mlimit-top text-center"><img src="" alt="SA"></div>
	</div>
</section>

<section>
	<div class="row">
		<div class="large-12 columns serif text-center mlimit-top mlimit">
			<h2 class="secondary">Entreprenours & rising companies team-up with mantra</h2>
		</div>
	</div>
	<div class="row">
		<div class="large-3 columns blimit">
			<div class="home-portfolio-single whitesmoke-bg">
				<img src="http://placehold.it/300x200" alt="" class="fillwidth">
				<div class="spadding">
					<strong>Lorem ipsum dolor sit.</strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat enim iste minima laborum reprehenderit commodi!</p>
				</div>
			</div>
		</div>
		<div class="large-3 columns blimit">
			<div class="home-portfolio-single whitesmoke-bg">
				<img src="http://placehold.it/300x200" alt="" class="fillwidth">
				<div class="spadding">
					<strong>Lorem ipsum dolor sit.</strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nulla ea nostrum quod ullam minima.</p>
				</div>
			</div>
		</div>
		<div class="large-3 columns blimit">
			<div class="home-portfolio-single whitesmoke-bg">
				<img src="http://placehold.it/300x200" alt="" class="fillwidth">
				<div class="spadding">
					<strong>Lorem ipsum dolor sit.</strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, necessitatibus, suscipit. Expedita dignissimos aut quisquam!</p>
				</div>
			</div>
		</div>
		<div class="large-3 columns blimit">
			<div class="home-portfolio-single whitesmoke-bg">
				<img src="http://placehold.it/300x200" alt="" class="fillwidth">
				<div class="spadding">
					<strong>Lorem ipsum dolor sit.</strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, consequatur, suscipit facere ad quo doloribus.</p>
				</div>
			</div>
		</div>
		<div class="large-3 columns blimit">
			<div class="home-portfolio-single whitesmoke-bg">
				<img src="http://placehold.it/300x200" alt="" class="fillwidth">
				<div class="spadding">
					<strong>Lorem ipsum dolor sit.</strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat enim iste minima laborum reprehenderit commodi!</p>
				</div>
			</div>
		</div>
		<div class="large-3 columns blimit">
			<div class="home-portfolio-single whitesmoke-bg">
				<img src="http://placehold.it/300x200" alt="" class="fillwidth">
				<div class="spadding">
					<strong>Lorem ipsum dolor sit.</strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nulla ea nostrum quod ullam minima.</p>
				</div>
			</div>
		</div>
		<div class="large-3 columns blimit">
			<div class="home-portfolio-single whitesmoke-bg">
				<img src="http://placehold.it/300x200" alt="" class="fillwidth">
				<div class="spadding">
					<strong>Lorem ipsum dolor sit.</strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, necessitatibus, suscipit. Expedita dignissimos aut quisquam!</p>
				</div>
			</div>
		</div>
		<div class="large-3 columns blimit">
			<div class="home-portfolio-single whitesmoke-bg">
				<img src="http://placehold.it/300x200" alt="" class="fillwidth">
				<div class="spadding">
					<strong>Lorem ipsum dolor sit.</strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, consequatur, suscipit facere ad quo doloribus.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns serif">
			<h2 class="secondary">Mantra Labs</h2>
		</div>
	</div>
	<div class="row">
		<div class="large-4 columns">
			<img src="http://placehold.it/500x350" alt="" class="fillwidth">
			<div class="spadding">
				<strong>Lorem ipsum dolor sit.</strong>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat enim iste minima laborum reprehenderit commodi!</p>
			</div>
		</div>
		<div class="large-4 columns">
			<img src="http://placehold.it/500x350" alt="" class="fillwidth">
			<div class="spadding">
				<strong>Lorem ipsum dolor sit.</strong>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat enim iste minima laborum reprehenderit commodi!</p>
			</div>
		</div>
		<div class="large-4 columns">
			<img src="http://placehold.it/500x350" alt="" class="fillwidth">
			<div class="spadding">
				<strong>Lorem ipsum dolor sit.</strong>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat enim iste minima laborum reprehenderit commodi!</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns serif">
			<h2 class="secondary">Mantra is an agency centered venture firm - here's how we roll</h2>
		</div>
	</div>	
	<div class="row">
		<div class="large-6 columns">
			<div class="video-large">
				<img src="http://placehold.it/1920x1080" alt="" class="fullwidth">
			</div>
		</div>
		<div class="large-6 columns">
			<div class="video-thumb cboth mlimit">
				<img src="http://placehold.it/100x75" alt="" class="left">
				<strong>Lorem ipsum dolor sit.</strong>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, vel.
					<a href="" class="pink"></a>Read more</p>
			</div>
			<div class="video-thumb cboth mlimit">
				<img src="http://placehold.it/100x75" alt="" class="left">
				<strong>Lorem ipsum dolor sit.</strong>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, veritatis.
					<a href="" class="pink"></a>Read more</p>
			</div>
			<div class="video-thumb cboth mlimit">
				<img src="http://placehold.it/100x75" alt="" class="left">
				<strong>Lorem ipsum dolor sit.</strong>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, veniam.
					<a href="" class="pink"></a>Read more</p>
			</div>

		</div>
	</div>
</section>