<header style="background-image: url(assets/bgs/home_bg.jpg)" class="bg-cover bg-bottom pos-rel ovh">
	<div class="pinkoverlay"></div>
	<video id="headervideo" autoplay class="fullwidth pos-abs bottom" type="video/mp4">
	</video>

	<div class="row pos-rel z-top">	
		<div class="xxl-margin-top xxl-margin-bottom">
			
			<div class="slimit">
				<h1 class="inline-inline black-bg h0">#meetmantra</h1>
			</div>
			<div>
				<h2 class="inline xs-margin-top black-bg">
					<span class="cyan-text oxygen">
						all yoursource code are belong to us
					</span>
				</h2>
			</div>			
			<div class="frame-cta m-limit-top inline">
			    <div class="inline"><a href="/tour" class="whitelinks">TOUR</a></div>
			    <div class="inline"><a href="/rfp" class="whitelinks">RFP</a></div>
			</div>
			
		</div>
	</div>
</header>



<section class="whitesmoke-bg">
	<div class="row">
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/lifehacker.png" alt="lifehacker"></div>
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/macworld.png" alt="Macworld"></div>
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/appstorm.png" alt="Appstorm"></div>
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/tnw.png" alt="TNW"></div>
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/macstories.png" alt="macstories"></div>
		<div class="large-2 small-6 m-line-height columns company-logo text-center"><img class="v-middle" src="assets/companies/sa.png" alt="SA"></div>
	</div>
</section>

<section class=>
	<div class="row">
		<div class="large-12 columns serif text-center blimit-top mlimit">
			<h2 class="secondary">Entreprenours & rising companies team-up with mantra</h2>
		</div>
	</div>
	<div class="row oxygen">
		<div class="large-3 columns blimit ">
			<div class="spadding whitesmoke-bg home-portfolio-single">
			<div class="whitesmoke-bg">
				<img src="assets/homepage/w1.jpg" alt="" class="fullwidth">
				<div class="slimit-top">
					<div class="bold slimit">Lorem ipsum dolor sit.</div>
					<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat enim iste minima laborum reprehenderit commodi!</p>
				</div>
			</div>
			</div>
		</div>
		<div class="large-3 columns blimit ">
			<div class="spadding whitesmoke-bg home-portfolio-single">
			<div class="whitesmoke-bg">
				<img src="assets/homepage/w2.jpg" alt="" class="fullwidth">
				<div class="slimit-top">
					<div class="bold slimit">Lorem ipsum dolor sit.</div>
					<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nulla ea nostrum quod ullam minima.</p>
				</div>
			</div>
			</div>
		</div>
		<div class="large-3 columns blimit ">
			<div class="spadding whitesmoke-bg home-portfolio-single">
			<div class="whitesmoke-bg">
				<img src="assets/homepage/w3.jpg" alt="" class="fullwidth">
				<div class="slimit-top">
					<div class="bold slimit">Lorem ipsum dolor sit.</div>
					<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, necessitatibus, suscipit. Expedita dignissimos aut quisquam!</p>
				</div>
			</div>
			</div>
		</div>
		<div class="large-3 columns blimit ">
			<div class="spadding whitesmoke-bg home-portfolio-single">
			<div class="whitesmoke-bg">
				<img src="assets/homepage/w4.jpg" alt="" class="fullwidth">
				<div class="slimit-top">
					<div class="bold slimit">Lorem ipsum dolor sit.</div>
					<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, consequatur, suscipit facere ad quo doloribus.</p>
				</div>
			</div>
			</div>
		</div>		
	</div>
	<div class="row">
		<div class="large-12 columns serif blimit mlimit-top">
			<h2 class="secondary">Mantra Labs</h2>
		</div>
	</div>
	<div class="row oxygen">
		<div class="large-4 columns blimit">
			<img src="assets/homepage/labs1.jpg" alt="" class="fullwidth">
			<div class="slimit-top">
				<div class="bold slimit">Lorem ipsum dolor sit.</div>
				<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nulla ea nostrum quod ullam minima. <a href="#" class="purple-text bold">Learn more</a></p>
			</div>
		</div>
		<div class="large-4 columns blimit">
			<img src="assets/homepage/labs2.jpg" alt="" class="fullwidth">
			<div class="slimit-top">
				<div class="bold slimit">Lorem ipsum dolor sit.</div>
				<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nulla ea nostrum quod ullam minima. <a href="#" class="purple-text bold">Learn more</a></p>
			</div>
		</div>
		<div class="large-4 columns blimit">
			<img src="assets/homepage/labs3.jpg" alt="" class="fullwidth">
			<div class="slimit-top">
				<div class="bold slimit">Lorem ipsum dolor sit.</div>
				<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nulla ea nostrum quod ullam minima. <a href="#" class="purple-text bold">Learn more</a></p>
			</div>
		</div>
	</div>
	<div class="row mlimit mlimit-top tertiary">
		<hr/>
	</div>	
	<div class="row">
		<div class="large-12 columns serif blimit mlimit-top">
			<h2 class="secondary">Mantra is an agency centered venture firm - here's how we roll</h2>
		</div>
	</div>

	<div class="row oxygen blimit">
		<div class="large-6 columns">
			<div class="video-large pos-rel">
				<div class="vid-overlay play-video"></div>
				<img src="assets/videos/1.jpg" alt="" class="fullwidth video-image pos-abs">
				<div class="flex-video widescreen">
					<iframe id="iframe" width="1280" height="720" class="widescreen" src="http://www.youtube.com/embed/iy_lolGhjPE?rel=0&vq=hd720&color=white&autoplay=0&wmode=transparent&theme=light&showinfo=0&origin=http://www.belfastdigitalagency.com"
frameborder="0" allowscriptaccess="always"
allowfullscreen="true"></iframe>
			</div>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="row slimit">
				<div class="large-3 columns">
					<img class="fullwidth" src="http://placehold.it/100x75" alt="">
				</div>
				<div class="large-9 columns">
					<div class="bold">Lorem ipsum dolor sit amet.</div>
					<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, eaque, laudantium deserunt expedita ducimus nam.
					<a href="#" class="purple-text bold">Learn more</a>
					</p>
				</div>
			</div>
			<div class="row slimit">
				<div class="large-3 columns">
					<img class="fullwidth" src="http://placehold.it/100x75" alt="">
				</div>
				<div class="large-9 columns">
					<div class="bold">Lorem ipsum dolor sit amet.</div>
					<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, eaque, laudantium deserunt expedita ducimus nam.
					<a href="#" class="purple-text bold">Learn more</a>
					</p>
				</div>
			</div>
			<div class="row slimit">
				<div class="large-3 columns">
					<img class="fullwidth" src="http://placehold.it/100x75" alt="">
				</div>
				<div class="large-9 columns">
					<div class="bold">Lorem ipsum dolor sit amet.</div>
					<p class="bigline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, eaque, laudantium deserunt expedita ducimus nam.
					<a href="#" class="purple-text bold">Learn more</a>
					</p>
				</div>
			</div>

		</div>
	</div>
</section>







<script>
	$(function(){
		var videoSource = new Array();

		videoSource[0]='https://s3.amazonaws.com/mantralabs/videos/v1.mp4';
		videoSource[1]='https://s3.amazonaws.com/mantralabs/videos/v3.mp4';
		videoSource[2]='https://s3.amazonaws.com/mantralabs/videos/v2.mp4';		
		videoSource[3]='https://s3.amazonaws.com/mantralabs/videos/v4.mp4';
		videoSource[3]='https://s3.amazonaws.com/mantralabs/videos/v5.mp4';
		videoSource[3]='https://s3.amazonaws.com/mantralabs/videos/v6.mp4';
		videoSource[3]='https://s3.amazonaws.com/mantralabs/videos/v7.mp4';
		var videoCount = videoSource.length;	    

		
		document.getElementById('headervideo').addEventListener('ended',myHandler,false);
		var index = 1;
		$('#headervideo').attr('src',videoSource[index]);
		function myHandler() {
			index++;
			if (index > videoCount) {
				index = 0;
			}
			$('#headervideo').attr('src',videoSource[index]);
       	}



       	$('.play-video').each(function(){
       		var t = $(this);
       		var video = $('iframe', t.parent());
       		var src = video.eq(0).attr('src');
       		
       		src = src.replace('autoplay=0','autoplay=1');
       		video.hide();
       		t.click(function(){
       			t.hide();
       			video.show().attr('src',src);
       		})
       	})

	})
</script>