<div class="filldiv bg white-bg"></div>
<div class="row b-limit-top">

  <div class="large-12 columns">
    <div class="s-limit black-text"><h4>TEAM MANTRA</h4></div>
  </div>
</div>

<div class="row m-limit">

  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/frank.jpg" class="s-limit"/>
      <h2>Francesco Pinto</h2>
      <h3 class="s-limit">CEO / Founder</h3>
      <p  class="oxygen h5">Frank is a complete lifecycle director with experience in all phases of software design and development. He has assisted in the evolution of start-ups in the Silicon Valley, Chicago and New York for more than 15 years. An entrepreneur at heart and an art director by trade, he is also the founder and director of Monthlys, GreenBeans and numerous other Internet properties.</p>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/colleen.jpg" class="s-limit"/>
      <h2>Colleen Koranda</h2>
      <h3 class="s-limit">UX Director / Co-Founder</h3>
      <p class="oxygen h5">Colleen leads the team through all aspects of the UX design process. For the past seven years Colleen has designed friendly and intuitive experiences to help start-ups become successful. Her focus is on understanding what people do, how they think, and what they need in order to solve design problems with simple solutions. She completed her Master’s in Human-Computer Interaction from Carnegie Mellon University.</p>
    </div>
  </div>

  <div class="large-6 columns">
    <div class="blue-noise-bg s-limit s-padding">
      <h2>Expect to be surrounded by the best talent around. </h2>

    </div>
    <div class="oxygen m-limit">
      <h2>
        “Frank was an original angel for us.” <br /><em>Neal Sales-Griffen, CEO StarterLeague</em>
      </h2>
    </div>

    <div class="m-limit">
      <img src="assets/team/test-carolyn.jpg" class="m-limit-right left"/>
      <p class="oxygen h5">
      “I’ve worked with Frank on various projects over the past few years, and he is one of the most driven, passionate people.” - Carolyn Kmet former Marketing Director, Groupon
      </p>
    </div>
    <br /><br />
    <div class="cboth"></div>

    <div class="m-limit">
      <img src="assets/team/test-neal.jpg" class="m-limit-right left"/>
      <p class="oxygen h5">
      “Frank was an original Angel for us - he was a huge help in helping us launch.” - Neal Sales-Griffen CEO, StarterLeague.com
      </p>
    </div>
    <br /><br /><br /><br />
    <div class="cboth"></div>

    <div class="m-limit">
      <img src="assets/team/test-logan.jpg" class="m-limit-right left"/>
      <p class="oxygen h5">
      "Frank is a true entrepreneur... From idea generation, to creating wireframes, leading design, writing code, marketing plans/videos/photos/sound, and through to execution. He's a product builder." - Logan LaHive CEO Bellycard.com
      </p>
    </div>
    <div class="cboth"></div>


  </div>

</div>

<div class="row m-limit">

  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/jon.jpg" class="s-limit"/>
      <h2>Jonathan Soeder</h2>
      <h3 class="s-limit">CTO, Co-founder</h3>
      <p  class="oxygen h5">Jonathan leads Mantra's development practice by assisting in product scaling, increasing developer productivity and automation, and improving technical architecture. Experienced across the entire stack, Jonathan is a proven team leader with industry experience ranging from consumer e-commerce, B2B technical services industry, health care and education. Prior to Mantra, Jonathan served as BenchPrep's CTO, Monthlys lead architect and has served as an advisor to numerous startups in Chicago's burgeoning tech community.</p>
    </div>
  </div>

   <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/joe.jpg" class="s-limit"/>
      <h2>Joe Chivini</h2>
      <h3 class="s-limit">Executive Vice President</h3>
      <p  class="oxygen h5">Joe leads Mantra's business development team.  He focuses overall growth and strategic execution that accelerates revenue, profitability, operational efficiency and technology integration within the company.  Possessing over 20 years of executive leadership experience, Joe has driven start-ups and established firms to reach their maximum potential.  His demonstrated ability to lead projects has streamlined Mantra's internal operations and enhanced offerings to our clients.</p>
    </div>
  </div>
 
  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/nick.jpg" class="s-limit"/>
      <h2>Nick McEvily</h2>
      <h3 class="s-limit">Partner, VP of Product</h3>
      <p class="oxygen h5">With a background in user-centered design and human environment relations, Nick ensures the user is at the center of every brand and go-to-market strategy we create. His experience in sales, multi-media production, identity and UX design informs his management of our daily operations and business development. He did his undergraduate and graduate studies at Cornell University and has been one of the founding-four of three startups.</p>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/alex.jpg" class="s-limit"/>
      <h2>Alex Smith</h2>
      <h3 class="s-limit">VP of Technology</h3>
      <p  class="oxygen h5">Alex’s roles as VP of Technology assists him in helping companies achieve their digital aspirations. He is a technology expert with a strong entrepreneurial mindset. For the past six years he’s worked with solutions ranging from embedded system to applications. </p>
    </div>
  </div>
</div>

<div class="row m-limit">
  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/sam.jpg" class="s-limit"/>
      <h2>Samantha Abernathy</h2>
      <h3 class="s-limit">Identity Designer</h3>
      <p  class="oxygen h5">Samantha is the team’s identity designer with a background in graphic design and professional photography. Her experience with branding, identity, logo design and product photography contributes to Mantra’s full-cycle development services. She kicked off her creative career in Atlanta, Georgia after attending Savannah College of Art and Design.  </p>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/aric.jpg" class="s-limit"/>
      <h2>Aric Jackson</h2>
      <h3 class="s-limit">Director of Film, Principal</h3>
      <p  class="oxygen h5">Aric acts as principal and director of film for Mantra. His work ranges from documentaries, narratives, commercials, television programs, music videos and industrials. He has also directed, produced, shot and edited short films and video programs for online outlets such as Penguin Books, The PGA, The Onion, The Huffington Post, Bloom School of Jazz and Monthlys, Inc. </p>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/eddie.jpg" class="s-limit"/>
      <h2>Edward Anderson</h2>
      <h3 class="s-limit">Lead Engineer</h3>
      <p  class="oxygen h5">Edward is a full stack engineer for Mantra. His ability to write computer programs to automate personal tasks led him to work as a full-time Software Engineer. Throughout his career he assisted with projects for Fortune 500 companies and hospitals and began working full-time on Process Smith, a business process automatic software company. He studied Economics at the University of Wisconsin-Madison. </p>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/amy.jpg" class="s-limit"/>
      <h2>Amy Johnson</h2>
      <h3 class="s-limit">User Interface Designer</h3>
      <p  class="oxygen h5">Amy is a classically trained graphic designer specializing in custom typography, iconography, illustration, user interface, wireframing, responsive design and rapid prototyping. She is an active member of AIGA and has experience in a multitude of print and web projects. She helps bring well-formed ideas to life and reality with a steady hand and awesome work ethic. Amy find joy in the ever changing web field. </p>
    </div>
  </div>

</div>

<div class="row m-limit">
  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/neil.jpg" class="s-limit"/>
      <h2>Neil Burchfield</h2>
      <h3 class="s-limit">Lead iOS Developer</h3>
      <p  class="oxygen h5">Neil is a mobile developer with a background in Software Engineering. He focuses on data redundancy, application performance and efficient developer communication on a multiple Mantra client projects. Neil previously compiled, managed and produced a variety of mobile environments for financial, education, and business industries. He is a graduate from Northern Illinois University with a BA in Computer Science and Certification in Mobile Development.</p>
    </div>
  </div>

  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/z.jpg" class="s-limit"/>
      <h2>Zvonimir 'Z' Moric</h2>
      <h3 class="s-limit">Creative Director</h3>
      <p  class="oxygen h5">Mr. Moric is Mantra's Creative Director and is a world renowned violinist, an alleged graffiti artist, and a best-selling romance novelist in Croatia.  For years it was rumored that Z was the street artist Banksy.  Z previously was the lead graphic designer at BenchPrep, and has been responsible for several large branding initiatives at many of the startups in the Lightbank eco system. </p>
    </div>
  </div>

  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/tommy.jpg" class="s-limit"/>
      <h2>Thomas Schmitz</h2>
      <h3 class="s-limit">Business Development</h3>
      <p  class="oxygen h5">Thomas has helped build business pipelines for numerous dot coms in both the consumer, web and enterprise space. At Mantra, he focuses on business development on behalf Mantra Labs organizations such as BFI, AgentRun and Velawsity. </p>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/lainie.jpg" class="s-limit"/>
      <h2>Lainie McKeague</h2>
      <h3 class="s-limit">Public Relations</h3>
      <p  class="oxygen h5">Lainie is a PR and social media maven that has contributed to the development and success of accounts such as Lockheed Martin and Paramount Pictures. She’s an entrepreneurial-minded communicator with four years of internship experience within the PR and publicity field. In the spring, she will graduate with a BA in Public Relations and Advertising from DePaul University.</p>
    </div>
  </div>
</div>

<div class="row m-limit">
  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/tia.jpg" class="s-limit"/>
      <h2>Tia Shelley</h2>
      <h3 class="s-limit">User Research</h3>
      <p  class="oxygen h5">Tia focuses on user research along with UX design and the overall building process at Mantra. As a PhD candidate of Human-Computer Interaction at the University of Illinois at Chicago, she uses her experience to determine what users really need to create unique solutions for the variety of problems they face. </p>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/brad.jpg" class="s-limit"/>
      <h2>Brad Dalrymple</h2>
      <h3 class="s-limit">User Experience Designer</h3>
      <p  class="oxygen h5">
      Brad helps create a link between target users and the product team. He has over 10 years experience in communication and design and believes the best products are made when the user is considered in each part of the design process. Brad received his BA English from Winthrop University and his MS Information Architecture from Illinois Institute of Technology.
      </p>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/tim.jpg" class="s-limit"/>
      <h2>Steven Kane</h2>
      <h3 class="s-limit">Lead Engineer, Professor</h3>
      <p  class="oxygen h5">Steve is a full stack engineer who specializes in front-end development for highly interactive web applications. He is a former Bio-medical systems Engineer turned software developer.  He has a BS in Systems Engineering from the University of Illinois and is an Ember.js fan and occasional speaker.</p>
    </div>
  </div>

  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/chris.jpg" class="s-limit"/>
      <h2>Chris Clark</h2>
      <h3 class="s-limit">User Interface Designer</h3>
      <p  class="oxygen h5">
      Chris Clark is UI designer and illustrator. With an eye for type and color, Chris is adept at translating passion into a visual form that is both aesthetically pleasing and practically functional. He is always seeking for new inspiration to keep his designs ahead of the game. His strong background with web helps him facilitate an easy transition between designer and developer. Chris graduated with a BFA in Graphic Design from Murray State University.
      </p>
    </div>
  </div>

</div>

<div class="row m-limit">
  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/natasha.jpg" class="s-limit"/>
      <h2>Natasha Gambrell</h2>
      <h3 class="s-limit">Business Development</h3>
      <p  class="oxygen h5">
      Natasha is a business development mogul with a multifarious background in direct marketing initiatives, channel development and project management. She actively supports Mantra in obtaining business goals by using strategic communication and business solutions. She holds experience in building high-growth B2B/B2C sales and has assisted in the development of projects for international partner alliances. Her diverse education includes studies in public policy, communication and music performance.
      </p>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="s-limit black-text">
      <img src="assets/team/mike.jpg" class="s-limit"/>
      <h2>Michael Noga</h2>
      <h3 class="s-limit">Author, Poet</h3>
      <p  class="oxygen h5">
      Michael has spent the last six years furthering his clients’ creative image. He has contributed to optimization efforts for industry leaders across diverse fields, including: education, hospitality, retail and telecommunications.  His well-rounded background and fierce loyalty has earned his reputation as a maverick and made him an ideal fit for startups looking for creative support that matches their passion. He has a BA in Writing from the University of Illinois at Chicago and will complete his MA in English at DePaul University this spring.
      </p>
    </div>
  </div>
  <div class="large-6 columns">
    &nbsp;
  </div>

</div>





<style>
#rightbar {display: none;}
</style>
