<div class="row fullwidth ux-container small-no-limit-top">
    <div class="large-6 size-animation columns strethdown ovfh small-height-auto  ovfa ux-left">
	<div class="ux-next h3">NEXT</div>
	<div class="s-limit-top">
	    <div class="backarrow vmiddle"></div>
	    <div class="h4 inline vmiddle go-back oxygen"><a href="/">GO BACK</a></div>
	</div>

	<!----------------------------------!-->

	<div class="ux-slide-left active ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Usability</div>
	    <div class="h2 georgia s-limit-top">People need to be able to grasp the function of a site immediately after scanning the home page- a few seconds is a few seconds too many.</div>
	    <p class="oxygen m-limit m-limit-top h4">
	    	We aim to make tools that are easy to use and more effective for both work and everyday life. We benefit from practicing usability and developing UX guidelines.<br /></br />
	    </p>

	</div>
	<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Inspection Methods</div>
	    <div class="h2 georgia s-limit-top">Mantra’s inspection methods are quick and quantitative. They help us discover patterns in users’ attitudes, motivations, and barriers.</div>
	    <p class="oxygen m-limit m-limit-top h4">Our usability evaluation methods utilize expert reviewers who test and evaluate programs and observe the user experience. These methods are proven to produce a greater amount of quantitative data that can be timed and recorded.</p>
	</div>
	<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Inquiry Methods</div>
	    <div class="h2 georgia s-limit-top">Inquiries provide valuable information on what the user wants.</div>
	    <p class="oxygen m-limit m-limit-top h4">Task analysis, focus groups, and surveys help us to develop a better understanding of users’ goals and preferred working methods.</p>
	</div>
	<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Prototyping Methods</div>
	    <div class="h2 georgia s-limit-top">Mantra uses rapid prototyping in early stages of development to validate and refine the usability of a system.</div>
	    <p class="oxygen m-limit m-limit-top h4">This method bypasses the need for an expensive working model by quickly and cheaply evaluating user interface designs. This helps remove hesitation to make design changes since it is implemented prior to the start of any real programming.</p>
	</div>
	<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Testing Methods</div>
	    <div class="h2 georgia s-limit-top">These usability evaluation methods involve testing of subjects for the most quantitative data.</div>
	    <p class="oxygen m-limit m-limit-top h4">As everything comes together, our user interfaces are supplied with content, photography, workflows and guidelines for producing epic finished designs.</p>
	</div>

    </div>



    <div class="large-6 size-animation columns ux-right strethdown ovfh no-padding-left left">

	<div class="ux-slide-right active ux-slider">
	    <div class="img-slider-nav">
		<div class="circle small white-bg inline"></div>	
	    </div>
	    <div class="absfill ux-slider-single" style="background-image: url(assets/ux/usability.jpg);"></div>
	</div>
	<div class="ux-slide-right">
	    <div class="absfill" style="background-image: url(assets/ux/usability4.jpg);"></div>	    
	</div>	
	<div class="ux-slide-right">
	    <div class="absfill" style="background-image: url(assets/ux/usability5.jpg);"></div>	    
	</div>	
	<div class="ux-slide-right">
	    <div class="absfill" style="background-image: url(assets/ux/usability6.jpg);"></div>	    
	</div>
	
	<div class="ux-slide-right">
	    <div class="absfill" style="background-image: url(assets/ux/usability2.jpg);"></div>	    
	</div>
	<div class="ux-slide-right">
	    <div class="absfill" style="background-image: url(assets/ux/boards.jpg);"></div>	    
	</div>


</div>
<style>
    #rightbar {display: none !important;}
</style>
<script>
    $(document).ready(function(){
	$('.ux-slide-left.active').cascade();	
	$('.ux-next').click(function(){	
	
	    var left = $('.ux-slide-left.active');
	    var right = $('.ux-slide-right.active');

	    if ( right.nextOrFirst().hasClass('slide-with-video') ) {
		$('.ux-left').removeClass('large-6').addClass('large-4');
		$('.ux-right').removeClass('large-6').addClass('large-8');
    
	    } else {
		$('.ux-left').removeClass('large-4').addClass('large-6');
		$('.ux-right').removeClass('large-8').addClass('large-6');    
	    }
	
	    $('.ux-slide-left.last').removeClass('last')
	    left.addClass('last').removeClass('active').nextOrFirst('.ux-slide-left').addClass('active');
	
	
	    $('.ux-slide-right.last').removeClass('last')
	    right.addClass('last').removeClass('active').nextOrFirst('.ux-slide-right').addClass('active');
	
	
	    $('.ux-slide-left.active').cascade();	
	    $('.ux-slide-right.active').delay(200).fadeSlideIn();
	
	    //$(window).resize();
	    $('.ux-vid').vCenter();
	
	
	
	
	});
    
	//keyboard support (left/right arrow nav)
	$(document).keyup(function(e){			

	    if(e.keyCode == 39 || e.keyCode == 40) {
		$('.ux-next').trigger('click');
	    }
	});  
	
	
	$('.ux-slider').sliding('circle','ux-slider-single');
    
    })    
</script>



