// Is there any reason these are all rgba when they're not using the alpha?
//
//alphabetical pls
//
$almostWhite: rgb(211,211,211);
$badassGreen: #9bd400;
$blue: #009dd1;
$creame: rgba(241,241,241,1.0);
$cyan: #3acaff;
$darkGrey: rgb(94,94,94);
$darkPurple: #741e67;
$lightBlue: #009bd2;
$mutedGray: rgba(125,125,125,.75);
$lightBlue: #009BD2;
$pink: #D51679;
$verylightblue: #009BD2;
$green: #9BD400;
$black: #000;
$yellow: #f49234;
$white: rgba(249,249,249,1.0);
$veryAlmostWhite: rgb(235, 235,235);

